<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329827170317-9bj7s11945uhqs8c4tfm7lmphp7890bq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329827170317-9bj7s11945uhqs8c4tfm7lmphp7890bq</string>
	<key>API_KEY</key>
	<string>AIzaSyCXhjBOsF5gKRcI8P9apWmQmZ3xE0iHcrc</string>
	<key>GCM_SENDER_ID</key>
	<string>329827170317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psych</string>
	<key>PROJECT_ID</key>
	<string>psych-4e546</string>
	<key>STORAGE_BUCKET</key>
	<string>psych-4e546.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329827170317:ios:165382aeb14e6af51ebd44</string>
	<key>DATABASE_URL</key>
	<string>https://psych-4e546.firebaseio.com</string>
</dict>
</plist>