<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84423144967-ubee0glicg05cohmq16a06g4t13hnfh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84423144967-ubee0glicg05cohmq16a06g4t13hnfh2</string>
	<key>API_KEY</key>
	<string>AIzaSyDuvVyYFEmmzSlTidf-9kDcHfb0UcXfFy8</string>
	<key>GCM_SENDER_ID</key>
	<string>84423144967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soumyagupta2307.com.psych</string>
	<key>PROJECT_ID</key>
	<string>psych-753c4</string>
	<key>STORAGE_BUCKET</key>
	<string>psych-753c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84423144967:ios:5327a77fa4c7db2af5dca2</string>
	<key>DATABASE_URL</key>
	<string>https://psych-753c4.firebaseio.com</string>
</dict>
</plist>